body
{
  background-color: #000;
}

a 
{
  background-color: #333;
  font: 30px "Courier New";
  color: white;
  text-decoration: none;
  height: 48%;
  width: 24%;
  display: block;
  position: absolute;
  text-align: center;
  border-radius: 5%;
}

.r1
{
  top: 1%;
}

.r2
{
  top: 51%;
}

.c1
{
  left: 0.5%;
}

.c2
{
  left: 25.5%;
}

.c3
{
  left: 50.5%;
}

.c4
{
  left: 75.5%;
}