p
{
  width: 99%;
  position: absolute;
  text-align: center;
  font-family: Helvetica;
}

button
{
  position: absolute;
  top: 90%;
  border-radius: 0;
  border: 1px solid black;
  background-color: white;
  font-family: Helvetica;
  color: black;
}

body
{
  background-color: black;
  display: block;
}

#pp
{
  top: -35%;
  font-size: 290px;
  color: white;
  mix-blend-mode: difference;
  background-color: transparent;
}

#tp
{
  top: 60%;
  font-size: 80px;
  color: white;
  mix-blend-mode: difference;
  background-color: transparent;
}

#dark-mode-button
{
  left: 1%;
  position: absolute;
  top: 90%;
  font-family: Helvetica;
  border: 1px solid black;
  color: white;
  mix-blend-mode: difference;
  background-color: transparent;
}

#testing-toggle
{
  right: 1%;
  color: white;
  mix-blend-mode: difference;
  background-color: transparent;
}

#grade
{
  left: 45%;
  color: white;
  mix-blend-mode: difference;
  background-color: transparent;
}

#credits
{
  width: 20%;
  left: 0.5%;
  top: -1%;
  color: white;
  mix-blend-mode: difference;
  background-color: transparent;
  text-align: left;
}

#debug-element
{
  position: absolute;
  color: red;
  font-family: "Courier New";
  display: block;
  top: 0;
}

img
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
  display: none;
}

#fullscreen-prompt-img
{
  z-index: 10000000000000000000000000000000000000000000000000000000000000000000;
  display: none;
}

input
{
  display: none;
}

.flip
{
  transform: rotate(180deg);
}
